.idea

**/*.DS_Store

**/node_modules/
**/package-lock.json

**/bin/
**/obj/

VolunteeringSystem/wwwroot/lib/*
VolunteeringSystem/wwwroot/images/volunteers/*
VolunteeringSystem/wwwroot/images/criminalRecords/*

VolunteeringSystem.sln.DotSettings.user
.vscode
node_modules/

/.vs
