.idea

**/*.DS_Store

VolunteeringSystem/bin/
VolunteeringSystem/obj/

VolunteeringSystem/wwwroot/lib/*
VolunteeringSystem/wwwroot/images/volunteers/*
VolunteeringSystem/wwwroot/images/criminalRecords/*

VolunteeringSystem.sln.DotSettings.user
