
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<h4>Bem vindo ao seu perfil no sistema de voluntariados!</h4>


<p><a href="@Url.Action("Index", "Event")">Criar Evento</a></p>
<p><a>Ver Histórico de Atividades</a></p>
