@model Kid

<h2>Cadastrar Criança</h2>

@using (Html.BeginForm("Add", "Kid"))
{
    <div class="col-sm-12 text-center">
        <strong>
            <span asp-validation-for="name" class="font text-danger"></span>
        </strong>
    </div>
    <div class="form-group">
        <label for="">Nome</label>
        <input asp-for="name" class="form-control" type="text"/>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <input type="submit" value="Click me">
}