@{
    Layout = "_LayoutVolunteer";
    ViewData["Title"] = "Evento criado";
}

<div class="row">
    <h2 class="text-center">Seu evento foi criado com sucesso!</h2>
    <h4 class="text-center">Nossos administradores irão avaliar seu evento e você receberá um email assim que seu evento for aprovado ou caso contrário</h4>
    <p class="text-center">Obrigado por participar!</p>
</div>


<br/>