@{
	Layout = "_LayoutVolunteer";
	ViewData["Title"] = "Evento recusado";
}

<div class="row">
	<h2 class="text-center">Ainda não é possível criar um evento :(</h2>
	<h4 class="text-center">Seu perfil ainda não foi aprovado ou pode ter sido bloqueado por algum de nossos administradores.</h4>
    <p class="text-center">Entre em contato com nossos administradores para maiores informações.</p>
    <p class="text-center">Obrigado por participar!</p>
</div>


<br />
